*{
  box-sizing: border-box;
}

form {
width: 100%;
  .form-faild{
    margin-block: 20px;
    input{
      width: 80%;
      padding: 10px 15px;
      font-size: 15px;
      border-radius: 8px;
      border: none;
    }
  }
  button{
    width: 80%;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin: 0;
  }
}
